<div style="background-color: aqua; padding: 2%; text-align: center;">
    <a href="javascript:void(0)" style="margin-right: 50px;" (click)="option_click(1)">Empno</a>
    <a href="javascript:void(0)" style="margin-right: 50px; margin-left: 50px;" (click)="option_click(2)">Ename</a>
    <a href="javascript:void(0)" style="margin-right: 50px; margin-left: 50px;" (click)="option_click(3)">Job</a>
    <a href="javascript:void(0)" style="margin-right: 50px; margin-left: 50px;" (click)="option_click(4)">Salary</a>
    <a href="javascript:void(0)" style="margin-right: 50px; margin-left: 50px;" (click)="option_click(5)">Deptno</a>
</div>