<mat-card style="margin-left: 25%; margin-right: 25%; margin-top: 10%;">
  <mat-card-title>Login</mat-card-title>

  <br>
  <br>

  <mat-card-content>

<form #form="ngForm" >
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput required="true">
    <mat-error >
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input type="text" matInput required="true">
    <mat-error >
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br>
  <br>

  <button mat-raised-button color="primary">Login</button>

</form>
</mat-card-content>
</mat-card>
