<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>


<div class="row mt-5 mb-5">
    <div class="col-md-2">
        <input type="number" id="input-empno" [(ngModel)]="empno" placeholder="Enter Employee Number">
    </div>
    <div class="col-md-2">
        <input type="text" id="input-empname" [(ngModel)]="empname" placeholder="Enter Employee Name">
    </div>
    <div class="col-md-2">
        <input type="text" id="input-job" [(ngModel)]="job" placeholder="Enter Job">
    </div>
    <div class="col-md-2">
        <input type="number" id="input-sal" [(ngModel)]="sal" placeholder="Enter Salary">
    </div>
    <div class="col-md-2">
        <input type="number" id="input-deptno" [(ngModel)]="deptno" placeholder="Enter Department Number">
    </div>
</div>

<hr>

<div class="row mt-5 mb-5">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getData()">Get All Employees</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="saveData()">Add New Employee</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="updateData()">Update Employee</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="deleteData()">Delete Employee</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getEmployeeByJob()">Get Employee By Job</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getNameJob()">Get Employee Name & Job</button>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getEmpDeptWise()">Get Employee Not in Department 10</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getSortedEmployee()">Sort Employees by Salary</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" (click)="getManagerNames()">Get Manager by Department</button>
    </div>
</div>

<hr>

<div class="row mt-5 mb-5">
    <div class="col-lg-12">
        <table width="1000" border="1" cellPadding="10">
            <thead>
                <th>Employee Number</th>
                <th>Employee Name</th>
                <th>Employee Job</th>
                <th>Salary</th>
                <th>Department Number</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of emp_arr">
                    <td>{{item.empno}}</td>
                    <td>{{item.empname}}</td>
                    <td>{{item.job}}</td>
                    <td>{{item.sal}}</td>
                    <td>{{item.deptno}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div class="row mt-5 mb-5">
    <div class="col-lg-12">
        <h5>Employee Names and Their Designations -</h5>
        <ul>
            <li *ngFor="let item of name_job">Name : {{item.empname}} | Designation : {{item.job}}</li>
        </ul>
    </div>
</div>

<hr>

<div class="row mt-5 mb-5">
    <div class="col-lg-12">
        <h5>Manager of Department No. {{deptno}} -</h5>
        <ul>
            <li *ngFor="let item of managers">Name : {{item.empname}}</li>
        </ul>
    </div>
</div>
