<h2>Task-1</h2>

<p appAppMyShadow>Attribute Custom Directive Test</p>
<p [appAppMyShadow]="'Blue'">Attribute Custom Directive Test</p>
<p [appAppMyShadow]="'Green'">Attribute Custom Directive Test</p>

<br>
<hr>
<br>

<h2>Task-2</h2>

<div *appAdminPanel="'Scott'">
  <p>This content is for Scott Admin</p>
</div>

<div *appAdminPanel="'Smith'">
  <p>This content is for Smith Admin</p>
</div>

<div *appAdminPanel="'Sam'">
  <p>This content is for Sam Admin</p>
</div>

<div *appAdminPanel="'Robert'">
  <p>This content is for Robert Admin</p>
</div>
